@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    overflow-y:  hidden;
}
.bg-img{
    /* height: auto; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-image: url('../src//assets/HeroSection/hero_bg.jpeg'); */
}
.bg-image{
    background-image: url('../src/assets/CTA/feature_bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.text_lets{
    font-family: "Satisfy", cursive;
}
.travel_top_text{
    font-family: "Playfair Display", serif;
}
.deliver{
    font-family: "Jost", serif;
}
.lorem{
    font-family: sans-serif;
}
  
.custom-clip-path{
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 18% 50%, 0% 0%);
}

.bg-form{
    backdrop-filter: blur(17.7606px);
    max-width: 1093px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px 28px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.15);
}



.full-landing-image{
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: 40;
    width: 100%;
    height: 100vh;
    background: url('../src/assets/HeroSection/hero_bg.jpeg') center;
    /* background-size: cover; */
    overflow-x: hidden;
}


.herosection_container{
    min-height: 785px;
    position: relative;
    /* border: 1px solid red; */
    clip-path: inset(0 0 0 0); 
}

.popup_box_1{
    opacity: 0.45;
    bottom: -270px;
    right: -140px;
    width: 498px;
    height: 565px;
    border-radius: 50%;
    background-color:rgb(63 208 212);
    position: absolute;
}

.popup_box_2{
    opacity: 0.7;
    bottom: -428px;
    right: -10px;
    width: 510px;
    height: 562px;
    border-radius: 50%;
    background-color: rgb(63 208 212);
    position: absolute;
}

/* .grid-comp{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
} */

.bg-video{
    background-image: url('../src/assets/VideoSection/video_block.jpeg');
}
.arrow-before::before {
    content: "";
    position: absolute;
    width: 112px;
    height: 110px;
    background-image: url('../src/assets/GettingStarted/arrow.png'); /* Make sure the path is correct */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    right: -102px;
    top: 100px;
  }

.svg-before::before{
    content: "";
    width: 150px;
    height: 150px;
    opacity: 0.45;
    background-color: white;
    z-index: 0;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    box-sizing: border-box;
    color: white;
}

.svg-after::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #3fd0d4;
    z-index: 1;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    box-sizing: border-box;
    color: white;
}

.i-before::before{
    box-sizing: border-box;
    content: "\f3c5";
    font-weight:900;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    color: white;
    font-size: 20px;
    
}



.atag:hover {
    transform: rotate(40deg);
    transition: all 0.3s ease-in-out;
}

.atag:hover svg {
    transform: rotate(40deg);
    transition: all 0.3s ease-in-out;
}

/* .bg-img-1{
    background-image: url('../src/assets/PopularTours/package_img_1.jpeg');
    background-size: cover;
    background-position: center;
}
.bg-img-2{
    background-image: url('../src/assets/PopularTours/package_img_2.jpeg');
    background-size: cover;
    background-position: center;
}
.bg-img-3{
    background-image: url('../src/assets/PopularTours/package_img_3.jpeg');
    background-size: cover;
    background-position: center;
}
.bg-img-4{
    background-image: url('../src/assets/PopularTours/package_img_4.jpeg');
    background-size: cover;
    background-position: center;
} */