@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    overflow-y:  hidden;
}
.bg-img{
    /* height: auto; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-image: url('../src//assets/HeroSection/hero_bg.jpeg'); */
}
.bg-image{
    background-image: url('../src/assets/CTA/feature_bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.text_lets {
    font-family: "Satisfy", cursive;
}
.travel_top_text{
    font-family: "Playfair Display", serif;
}
.deliver{
    font-family: "Jost", serif;
}
.lorem{
    font-family: sans-serif;
}
  

.bg-form{
    backdrop-filter: blur(17.7606px);
    max-width: 1093px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px 28px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.15);
}



.full-landing-image{
    /* position: absolute; */
    top: 0;
    left: 0;
    z-index: 40;
    width: 100%;
    height: 100vh;
    background: url('../src/assets/HeroSection/hero_bg.jpeg') center;
    /* background-size: cover; */
    overflow-x: hidden;
}


.herosection_container{
    min-height: 785px;
    position: relative;
    /* border: 1px solid red; */
    clip-path: inset(0 0 0 0); 
}

.popup_box_1{
    opacity: 0.45;
    bottom: -270px;
    right: -140px;
    width: 498px;
    height: 565px;
    border-radius: 50%;
    background-color:rgb(63 208 212);
    position: absolute;
}

.popup_box_2{
    opacity: 0.7;
    bottom: -428px;
    right: -10px;
    width: 510px;
    height: 562px;
    border-radius: 50%;
    background-color: rgb(63 208 212);
    position: absolute;
}

/* .bg-img-1{
    background-image: url('../src/assets/PopularTours/package_img_1.jpeg');
    background-size: cover;
    background-position: center;
}
.bg-img-2{
    background-image: url('../src/assets/PopularTours/package_img_2.jpeg');
    background-size: cover;
    background-position: center;
}
.bg-img-3{
    background-image: url('../src/assets/PopularTours/package_img_3.jpeg');
    background-size: cover;
    background-position: center;
}
.bg-img-4{
    background-image: url('../src/assets/PopularTours/package_img_4.jpeg');
    background-size: cover;
    background-position: center;
} */